@import "tailwindcss/theme";
@import "tailwindcss/utilities";

body {
  background-color: black;
  color: #00ff00;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}